@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #95bf6e;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #cee280;
	--dark-grey: #74a4e3;
	--dark: #3830a8;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
/* MAIN */
main {
    width: 100%;
    padding: 2rem 1.5rem;
    font-family: var(--poppins);
    transition: all 0.5s ease;
}

.head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1.6rem;
    flex-wrap: wrap;
}

.left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 0.8rem;
}

.breadcrumb li,
.breadcrumb li a {
    font-size: 16px;
}

.breadcrumb li a {
    color: var(--dark);
}

.breadcrumb li a.active {
    color: var(--blue);
    font-weight: 600;
}

.breadcrumb li i {
    font-size: 14px;
    color: var(--dark);
}

.dashboard-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 2rem;
}

.dashboard-content .card {
    padding: 1.5rem;
    background-color: var(--light);
    border-radius: 14px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
}

.dashboard-content .card .card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.dashboard-content .card .card-header h2 {
    font-size: 18px;
    font-weight: 600;
}

.dashboard-content .card .card-header i {
    font-size: 24px;
    color: var(--blue);
}

.dashboard-content .card .card-body h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--dark);
}

.dashboard-content .card .card-body p {
    color: var(--grey);
    font-size: 14px;
    margin-top: 0.3rem;
}
/* MAIN */

/* ----KARYAWAN----*/

/* MAIN */
#content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-width: 1200px;
    margin: 0 auto;
}

#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

#content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

#content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li,
#content main .head-title .left .breadcrumb li a {
    font-size: 14px;
    color: var(--dark);
}

#content main .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    font-weight: 600;
}

#content main .head-title .left .breadcrumb i {
    font-size: 14px;
    color: var(--dark);
}

#content main .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}

#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

#content main .table-data > div {
    border-radius: 20px;
    background-color: var(--light);
    padding: 24px;
    overflow-x: auto;
}

#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}

#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}

#content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
    padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

#content main .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
    background-color: var(--grey);
}

#content main .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
    background-color: var(--green);
}

#content main .table-data .order table tr td .status.process {
    background-color: var(--yellow);
}

#content main .table-data .order table tr td .status.pending {
    background-color: var(--orange);
}

#content main .table-data .order .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

#content main .table-data .order .head h3 {
    font-size: 18px;
    font-weight: 600;
}

#content main .table-data .order .head i {
    cursor: pointer;
}

#content main .table-data .order .eye,
#content main .table-data .order .delete {
    color: var(--blue);
    font-size: 18px;
}

#content main .table-data .order .delete {
    color: var(--red);
}

/* ----KARYAWAN----*/

/* ----========== + TAMBAH KARYAWAN ==========----*/
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}
/* ----========== + TAMBAH KARYAWAN ==========----*/



/* ----========== JABATAN      ==========----*/
.table-responsive {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f1f1f1;
}

.edit, .delete {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.edit:hover, .delete:hover {
    text-decoration: underline;
}

.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination span {
    font-size: 14px;
}

.prev, .next {
    text-decoration: none;
    color: #007bff;
}

.prev:hover, .next:hover {
    text-decoration: underline;
}
/* ----========== TAMBAH ======== jABATANH ======   ==========----*/
/* Styling untuk form tambah jabatan */
.form-container {
	max-width: 500px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
  }
  
  h2 {
	text-align: center;
	font-size: 1.5em;
	color: #333;
  }
  
  label {
	font-weight: bold;
	display: block;
	margin-top: 10px;
	color: #333;
  }
  
  input, select, textarea {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  button {
	width: 100%;
	padding: 10px;
	margin-top: 15px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
  }
  
  button:hover {
	background-color: #45a049;
  }
  


/* ----===================   DIVISI    ==================----*/

.table-responsive {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn-download {
    background-color: #007bff; /* Primary color */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-download:hover {
    background-color: #0056b3; /* Darker shade for hover */
}

.edit, .delete {
    color: #007bff;
    margin-right: 10px;
}

.edit:hover, .delete:hover {
    color: #0056b3; /* Darker shade for hover */
}

/* ----===================   DIVISI    ==================----*/


/* ----===================   ====ABSENSI=====   ==================----*/

.table-responsive {
    overflow-x: auto;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-download {
    align-self: center;
}

.table-responsive a {
    color: #007bff; /* Adjust as needed */
    text-decoration: none;
}

.table-responsive a:hover {
    text-decoration: underline;
}

/* ----===================   ====ABSENSI=====   ==================----*/

/* ----===================   ====   izin   =====   ==================----*/
.table-responsive {
    overflow-x: auto;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-download {
    align-self: center;
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-download:hover {
    background-color: #0056b3; /* Darker on hover */
}

.table-responsive a {
    color: #007bff; /* Adjust as needed */
    text-decoration: none;
}

.table-responsive a:hover {
    text-decoration: underline;
}
/* ----===================   ====   izin   =====   ==================----*/

/* ----===================   ====   lembur   =====   ==================----*/
.table-container {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-header, .table-body {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 15px;
    border: 1px solid #eaeaea;
    text-align: left;
    font-size: 14px;
}

.table-header .table-row {
    background-color: #f4f4f4;
    font-weight: bold;
}

.table-cell:last-child {
    text-align: center;
}

.btn-download {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.btn-download i {
    margin-right: 5px;
}

.btn-download:hover {
    background-color: #0056b3;
}

.table-cell {
    font-size: 14px;
}

/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}